<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lsl.ssm.dao.user.UserMapper">

	<insert id="add" parameterType="user">
		insert into USER(ip, nickName, address, count, best, suCount, creationDate, modifyDate, userKey)
		values (#{ip}, #{nickName}, #{address}, #{count}, #{best}, #{suCount}, #{creationDate}, #{modifyDate}, #{userKey})
	</insert>
	
	<update id="update" parameterType="user">
		update USER 
		<trim prefix="set" suffixOverrides="," suffix="where ip=#{ip}">
			<if test="nickName != null and nickName != ''">nickName=#{nickName},</if>
			<if test="count != null and count != ''">count=#{count},</if>
			<if test="best != null and best != ''">best=#{best},</if>
			<if test="suCount != null and suCount != ''">suCount=#{suCount},</if>
			<if test="modifyDate !=null and modifyDate != ''">modifyDate=#{modifyDate},</if>
			<if test="userKey != null and userKey != ''">userKey=#{userKey},</if>
		</trim>
	</update>
	
	<select id="getUserList" resultType="user">
		select * from USER
	</select>
	
	<select id="getUserByIp" resultType="user">
		select * from USER where ip=#{ip}
	</select>
</mapper>